*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

body{
    color: #000;
    background-color: #fff;
    line-height: 1.5;/*Altura entre linhas*/
}
